* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #202020;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    overflow-x: hidden;
}

a {
    color: #202020;
    text-decoration: none;
}

p,
span,
a,
li,
ul {
    line-height: 1.5em;
}

button {
    background-color: transparent;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 0.5em;
    cursor: pointer;
    width: 10em;
}

button:hover {
    background-color: #ff8000;
    border-color: #ff8000;
    transition: 0.3s;
}




/* ----- Content ----- */

.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.05);
}

.nav-items a {
    margin: 0 1em;
    text-decoration: none;
}

.nav-items a:hover {
    color: #ff8000;
}

#idMobileMenu {
    display: none;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 5em;
}

.header-logo img {
    animation: rotate-center 1s ease-in-out both;
}

.hex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hex-container div {
    margin-left: 1em;
    margin-right: 1em;
}

.hex-icon {
    position: relative;
    top: 1.7em;
    color: #ffffff;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-container {
    display: flex;
}

.port-desc {
    width: 28em;
}

.port-img {
    width: 28em;
    border-radius: 10px;
    box-shadow: 10px 10px 26px -10px rgba(0, 0, 0, 0.75);
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-email,
.contact-phone {
    flex-basis: 20%;
}

.contact-message {
    flex-basis: 35%;
}

.contact-phone,
.contact-email {
    text-align: center;
}

.contact-profile img {
    width: 12em;
    border-radius: 100%;
}

footer div span {
    margin-left: 1em;
    margin-right: 1em;
}

footer div span:hover {
    color: #ff8000;
    transition: 0.3s;
}




/* ----- Layout ----- */

.container {
    padding: 2em 3em;
}

.centered {
    text-align: center;
}

.leftalign {
    text-align: left;
}

.leftalign li {
    line-height: 40px;
}

.box {
    width: 200px;
    height: 230px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.ruler {
    border: solid 1px #3dccdb;
    background-color: #3dccdb;
    margin: 0 3em;
}

.limiter {
    max-width: 1500px;
    margin: auto;
}

.limiter-2 {
    max-width: 1000px;
    margin: auto;
}

.btn-dark {
    background-color: transparent;
    border-color: #417fac;
    color: #417fac;
}

.btn-dark:hover {
    background-color: #3dccdb;
    border-color: #3dccdb;
    color: #ffffff;
}


/* ----- Font ----- */

.font-1x {
    font-size: 14px;
}

.font-2x {
    font-size: 26px;
}

.font-3x {
    font-size: 50px;
}

.bold {
    font-weight: 500;
}

.light {
    font-weight: 100;
}





/* ----- Color ----- */

.color-1st {
    color: #3dccdb;
}

.color-2nd {
    color: #ff8000;
}

.color-3rd {
    color: #417fac;
}

.color-light {
    color: #626262;
}

.color-inv {
    color: #ffffff;
}

.bg-color-light {
    background-color: whitesmoke;
}

.bg-color-3rd {
    background-color: #417fac;
}





/* ----- Spacing ----- */

.spaced-v-1x {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.spaced-v-2x {
    margin-top: 2em;
    margin-bottom: 2em;
}

.spaced-v-3x {
    margin-top: 3em;
    margin-bottom: 3em;
}

.spaced-h-1x {
    margin-left: 1em;
    margin-right: 1em;
}

.spaced-h-2x {
    margin-left: 2em;
    margin-right: 2em;
}

.spaced-h-3x {
    margin-left: 3em;
    margin-right: 3em;
}

.spaced-below-1x {
    margin-bottom: 0.3em;
}

.padded-v-1x {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.padded-v-2x {
    padding-top: 2em;
    padding-bottom: 2em;
}

.padded-v-3x {
    padding-top: 3em;
    padding-bottom: 3em;
}



/* ----- Image ----- */

.img-1x {
    width: 9em;
}

.img-2x {
    width: 15em;
}

.img-3x {
    width: 28em;
}


/* ---- Tooltip ----- */

.tooltip-blue {
    --balloon-color: #417fac;
}

.tooltip-big-text {
    --balloon-font-size: 20px;
}

.tooltip-slide {
    --balloon-move: 30px;
}


/* ----- Form ---- */

input[type=text],
input[type=search],
textarea,
select {
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    /* EQUALS .color-4th */
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    resize: none;
}

input:focus,
select:focus {
    /* EQUALS .color-1st */
    outline-color: #417fac;
}




/* ----- Animations ----- */

.scale-up:hover {
    animation: scale-up-center 0.4s ease-in-out forwards;
}

.heartbeat:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

@keyframes text-pop-up-top {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
    }

    100% {
        transform: translateY(-10px);
        transform-origin: 50% 50%;
    }
}


/* ----- Media Queries ----- */

@media (max-width: 1100px) {

    #idHeroImg {
        display: none;

    }

    .header-logo {
        margin-top: 2em;
        top: 0;
    }

    .ruler {
        margin: 2em 2em 0 2em;
    }

    .port-container {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .port-container .spaced-h-2x {
        margin-left: 0;
        margin-right: 0;
    }

    .port-desc {
        margin: auto;
        width: 80%;
    }

    .port-img {
        margin: 0 auto 1em auto;
        width: 80%;
    }

    .contact-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-message,
    .contact-email,
    .contact-phone {
        margin-bottom: 6em;
        width: 100%;
    }

    .contact-profile {
        margin-bottom: 6em;
    }

    .contact-message .spaced-v-2x {
        text-align: center;
    }

    #idContactSection .spaced-v-2x {
        margin: 1em;
    }

}

@media (max-width: 700px) {

    .header-logo {
        margin-top: 1em;
    }

    .header-logo p {
        font-size: 30px;
    }

    .about-section br {
        display: none;
    }

    .container {
        padding: 1em 2em;
    }

    .nav-main {
        padding: 1em 2em;
    }

    .nav-items {
        display: none;
    }

    #idMobileMenu {
        display: block;
    }

    .img-1x {
        width: 8em;
    }

    .about-section {
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .about-section div {
        flex-direction: row;
        text-align: center;
    }

    .port-desc {
        width: 95%;
    }

    .port-img {
        width: 95%;
    }

}